{% extends "base.html" %}

{% block content %}

    <form action="" method="post" class="form-signup">
        <label for="old_password">Old Password:</label>
        <input class="form-control" type="password" name="old_password" value="" id="old_password">

        <br>

        <label for="new_password">Password:</label>
        <input class="form-control" type="password" name="new_password" value="" id="new_password">

        <br>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <input type="submit" class="btn btn-primary btn-lg" value="reset_password" />
    </form>

{% endblock %}